body {
    margin: 0;
    background-color: black;
    color: white;
    padding: 0;
}

/* ================= Banner ================= */

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Video background */
.bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    mask-image: url(ink_mask.gif);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;

    -webkit-mask-image: url(ink_mask.gif);
    /* Safari support */
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
}

p {
    font-size: 2rem;
}

/* ================= SVG Animation ================= */

svg {
    scale: 2;
}

.text-path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1;
    stroke-dasharray: 330;
    stroke-dashoffset: 330;
    animation: textAnimation 4.5s ease-in-out forwards;
}

@keyframes textAnimation {
    0% {
        stroke-dashoffset: 330;
    }

    80% {
        fill: transparent;
    }

    100% {
        fill: white;
        stroke-dashoffset: 0;
    }
}

/* ================= Sections ================= */

.full-page {
    height: 100vh;
    width: 100%;
}

.list {
    background-image: url(modern_bg3.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.list-container {
    font-size: 2rem;
    padding: 1rem;
}

/* Scroll blur effect */
.autoBlur {
    animation: autoBlurAnimation both;
    animation-timeline: view();
}

@keyframes autoBlurAnimation {
    0% {
        filter: blur(20px);
    }

    45%,
    55% {
        filter: blur(0px);
    }

    100% {
        filter: blur(20px);
    }
}

/* ================= Mobile ================= */

@media (max-width: 600px) {

    svg {
        scale: 1.5;
    }

    p {
        font-size: 1.5rem;
    }

    .list {
        grid-template-columns: 1fr;
    }
}