html {
    background-color: #5d84c3;
}

/* ===== Ribbon Size Control ===== */

.ribbon-wrap {
    position: absolute;
    right: 6vw;
    top: 0;

    transform: translateX(-71vw);
    animation: slideIn 0.8s 1s forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ribbon {
    --w: min(40vw, 22rem);
    --h: calc(var(--w) * 0.28);

    width: var(--w);
    height: var(--h);

    background: #fff;
    position: relative;
    /* important */
}

/* Triangle tip */
.ribbon::before {
    content: "";
    position: absolute;
    z-index: 2;

    left: calc(var(--w) * 0.93);
    bottom: calc(var(--h) * 0.25);

    border-left: calc(var(--w) * 0.14) solid #fff;
    border-right: calc(var(--w) * 0.14) solid #fff;
    border-bottom: calc(var(--w) * 0.14) solid transparent;

    transform: rotate(-90deg);
}

/* Shadow fold */
.ribbon::after {
    content: "";
    position: absolute;
    inset: 0;

    background: #507abd;

    transform: translate(-3vw, 3vw);
    z-index: -1;

    opacity: 1;
    filter: blur(1px);

    /* same ribbon silhouette */
    clip-path: polygon(0 0,
                100% 0,
                93% 50%,
                100% 100%,
                0 100%);
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateX(-120vw);
    }

    to {
        transform: translateX(-71vw);
    }
}