:root{
    --offsetx: -320px;
}

html {
    background-color: #5d84c3;
}

/* The ribbon */

.ribbon {
    width: 350px;
    height: 99px;
    background-color: #fff;
    position: absolute;
    right: 100px;
    top: 0;
    animation: drop forwards 0.8s 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    translate: -71vw;
}

.ribbon:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 325px;
    bottom: 25px;
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
    border-bottom: 50px solid transparent;
    rotate: -90deg;
}

.ribbon:after {
    content: '';
    width: 250px;
    height: 400px;
    position: absolute;
    z-index: -1;
    left: -50px;
    bottom: -325px;
    background-color: #507abd;
    transform: skewY(45deg) skewX(0);
    rotate: 90deg;
}

@keyframes drop {
    0% {
        top: -350px;
    }

    100% {
        top: 0;
    }
}